{% extends "layout.html" %}
{% load material_form %}
{% block body %}
    <div class="row">
        <div class="col s6 offset-s3">
            <h1>Trocar senha</h1>
            <form action="" method="POST">
               {% if messages %}
                  {% for message in messages %}
                      <script>
                        showMessageDialog("{{ message }}");
                      </script>
                  {% endfor %}
              {% endif %}
              {% csrf_token %}
              {% form form=form %}
              {% endform %}
                <button type="submit" class="waves-effect waves-light btn-large right">Alterar</button>
            </form>
        </div>
    </div>
{% endblock body %}